{% extends "web_app/base.html" %}

{% block content %}
<h1>
    <div class="container text-center" style="font-size: 80%; padding-bottom: 30px; color: white;">
        {{author.fullname}}
    </div>
</h1>
<div class="col col-lg-12 mb-4 mb-lg-0" style="color: white;">
    <figure class="p-3 rounded" style="border-left: .25rem solid #a34e78;">
        <blockquote class="blockquote pb-2" style="font-size: 100%;">
            <p>
                <b>Born:</b> {{author.born_date}}, {{author.born_location}}
            </p>
        </blockquote>
        <blockquote class="blockquote pb-2" style="font-size: 90%;"></blockquote>
        <p>
            <b>Description:</b> {{author.description}}
        </p>
        </blockquote>
    </figure>
{% endblock %}