<nav aria-label="Page navigation" class="d-flex justify-content-center">
    <ul class="pagination py-4">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" style="background-color: transparent;  color: aqua;">
                    Previous
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link" style="background-color: transparent;  color: aqua;">
                    Previous
                </span>
            </li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item active">
                    <a class="page-link" href="#">
                        {{ i }}
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ i }}" style="background-color: transparent;  color: aqua;">
                        {{ i }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" style="background-color: transparent;  color: aqua;">
                    Next
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link" style="background-color: transparent;  color: aqua;">
                    Next
                </span>
            </li>
        {% endif %}
    </ul>
</nav>